<div class="blender-toolbar">
  <div class="tool-group">
    <button class="tool-btn" [class.active]="currentTool === 'select'" (click)="setTool('select')" title="Seleccionar">↖️</button>
    <button class="tool-btn" [class.active]="currentTool === 'translate'" (click)="setTool('translate')" title="Mover">☩</button>
    <button class="tool-btn" [class.active]="currentTool === 'rotate'" (click)="setTool('rotate')" title="Rotar">↻</button>
    <button class="tool-btn" [class.active]="currentTool === 'scale'" (click)="setTool('scale')" title="Escalar">⤡</button>
  </div>

  <div class="tool-divider"></div>

  <div class="tool-group">
    <button class="tool-btn action-btn" (click)="abrirModalAnadir()" title="Agregar Objeto Nuevo">➕</button>
    <!-- NUEVOS BOTONES DIRECTOS PARA TRIGGERS -->
    <button class="tool-btn action-btn" style="margin-top: 5px; color: #4ade80;" (click)="crearTriggerDirecto(false)" title="Crear Trigger Normal">📍</button>
    <button class="tool-btn action-btn" style="margin-top: 5px; color: #60a5fa;" (click)="crearTriggerDirecto(true)" title="Crear Trigger Compuesto">💠</button>
  </div>
</div>