<div class="juego-container">
  
  <app-ui-loading *ngIf="isLoading()" texto="Cargando Episodio..."></app-ui-loading>

  <div class="canvas-wrapper" 
       [class.blur]="isInteracting() || (!pointerLocked() && !isLoading())" 
       [style.pointer-events]="(modalMisionUsuario && !cerrandoModalUsuario) ? 'none' : 'all'"
       (click)="onCanvasClick()">
     <!-- FPS BADGE GLOBALLY VISIBLE -->
     <div class="fps-badge" *ngIf="!isLoading()">FPS: {{ fps() }}</div>
     <app-motor-babylon></app-motor-babylon>
  </div>

  <app-ui-hud 
    playState="PLAYING" 
    [hideStatus]="modalMisionUsuario">
  </app-ui-hud>

  <app-ui-inspect (onClose)="cerrarInteraccion()"></app-ui-inspect>

  <app-ui-mission 
    *ngIf="modalMisionUsuario && !isLoading()" 
    [mapaNombre]="mapaActualNombre" 
    [misionIniciada]="misionIniciada" 
    [cerrando]="cerrandoModalUsuario" 
    [isDebugMode]="false" 
    (onStart)="comenzarMisionUsuario()" 
    (onExit)="salirDelJuego()">
  </app-ui-mission>

</div>