
<div class="section-card">
  <div class="section-head"><h4>Cuerpo de Colisión</h4></div>
  <div style="padding: 12px;">
    <div class="field wide" style="margin-bottom: 12px;">
      <label>Tipo de Collider</label>
      <select [ngModel]="colliderType" (ngModelChange)="colliderType = $event; aplicarCollider()">
        <option value="capsule">Capsule (Personajes)</option>
        <option value="box">Box (Caja)</option>
        <option value="sphere">Sphere (Esfera)</option>
        <option value="mesh">Mesh exacto (Pesado)</option>
      </select>
    </div>

    <div *ngIf="colliderType !== 'mesh'" class="grid-3">
      <div class="field"><label>Tam X</label><input type="number" step="0.1" [ngModel]="colliderSizeX" (ngModelChange)="colliderSizeX = $event; aplicarCollider()" /></div>
      <div class="field"><label>Tam Y</label><input type="number" step="0.1" [ngModel]="colliderSizeY" (ngModelChange)="colliderSizeY = $event; aplicarCollider()" /></div>
      <div class="field"><label>Tam Z</label><input type="number" step="0.1" [ngModel]="colliderSizeZ" (ngModelChange)="colliderSizeZ = $event; aplicarCollider()" /></div>
      <div class="field"><label>Off X</label><input type="number" step="0.1" [ngModel]="colliderOffX" (ngModelChange)="colliderOffX = $event; aplicarCollider()" /></div>
      <div class="field"><label>Off Y</label><input type="number" step="0.1" [ngModel]="colliderOffY" (ngModelChange)="colliderOffY = $event; aplicarCollider()" /></div>
      <div class="field"><label>Off Z</label><input type="number" step="0.1" [ngModel]="colliderOffZ" (ngModelChange)="colliderOffZ = $event; aplicarCollider()" /></div>
    </div>
  </div>
</div>

<div class="section-card">
  <div class="section-head"><h4>Cámara Interna (Ojos)</h4></div>
  <div style="padding: 12px;">
    <ng-container *ngIf="!esPersonaje">
      <div class="grid-3">
        <div class="field"><label>Cam X</label><input type="number" step="0.1" [ngModel]="camPosX" (ngModelChange)="camPosX = $event; aplicarCamara()" /></div>
        <div class="field"><label>Cam Y</label><input type="number" step="0.1" [ngModel]="camPosY" (ngModelChange)="camPosY = $event; aplicarCamara()" /></div>
        <div class="field"><label>Cam Z</label><input type="number" step="0.1" [ngModel]="camPosZ" (ngModelChange)="camPosZ = $event; aplicarCamara()" /></div>
      </div>
    </ng-container>

    <ng-container *ngIf="esPersonaje">
      <div style="background: rgba(59, 130, 246, 0.05); padding: 12px; border-radius: 6px; border: 1px solid #334155;">
        <p style="font-size: 11px; color: #94a3b8; margin: 0; line-height: 1.4;">
          🤖 <b>Este objeto es un Personaje.</b> Para ajustar la posición de sus cámaras FPS y TPS, usa la pestaña <b>"🎮 Jugador"</b> en la parte superior.
        </p>
      </div>
    </ng-container>
  </div>
</div>